@import 'base/variables';

//animation
@-webkit-keyframes fadeInDownBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-2000px);
      transform: translateY(-2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDownBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-2000px);
      -ms-transform: translateY(-2000px);
      transform: translateY(-2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
  }

  @-webkit-keyframes fadeInUpBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
      transform: translateY(2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUpBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
      -ms-transform: translateY(2000px);
      transform: translateY(2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
  }

  @-webkit-keyframes fadeInDownBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-2000px);
      transform: translateY(-2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDownBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-2000px);
      -ms-transform: translateY(-2000px);
      transform: translateY(-2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .fadeInDownBig {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
  }

  @-webkit-keyframes fadeInRightBig {
    0% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
      transform: translateX(2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRightBig {
    0% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
      -ms-transform: translateX(2000px);
      transform: translateX(2000px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .fadeInRightBig {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
  }

@font-face{
    font-family: 'ProximaNova-900';
    src: url('../fonts/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black?iefix') format('eot'),
    url('../fonts/ProximaNova-Black.woff') format('woff'),
    url('../fonts/ProximaNova-Black.ttf') format('truetype'),
    url('../fonts/ProximaNova-Black.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-800';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld?iefix') format('eot'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
    url('../fonts/ProximaNova-Extrabld.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-700';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold?iefix') format('eot'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../fonts/ProximaNova-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-400';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular?iefix') format('eot'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../fonts/ProximaNova-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-300';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light?iefix') format('eot'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype'),
    url('../fonts/ProximaNova-Light.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}
* ,
*:before,
*:after {
    font-family: 'ProximaNova-400';
    box-sizing: border-box;
    outline: none
}
._container {
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media (min-width: 375px) {
        width: 320px;
    }
    @media (min-width: 460px) {
        width: 440px;
    }
    @media (min-width: $sm-screen) {
        width: 540px;
    }
    @media (min-width: $md-screen) {
        width: 720px;
    }
    @media (min-width: $lg-screen) {
        width: 960px;
    }
    @media (min-width: $xlg-screen) {
        width: 1140px;
    }
}

h1,h2,h3,h4,p {
    margin: 0;
}

h2 {
    font-family: 'ProximaNova-900';
    color: $main-color;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    max-width: 400px;
    margin: 18px 0 122px;
    @media(max-width: 767px) {
        font-size: 30px;
        line-height: 37px;
        max-width: 225px;
    }
}

@import 'blocks/service';
@import 'blocks/lightpaper';
@import 'blocks/product';