$main-color:#FFFFFF;
$service: #233148;
$lightpaper: #1F65D9;
$product: #EAEFF5;

$xlg-screen: 1200px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;

$xlg-screen-min: $xlg-screen - 1;
$lg-screen-min: $lg-screen - 1;
$md-screen-min: $md-screen - 1;
$sm-screen-min: $sm-screen - 1;
